* {
  box-sizing: border-box;
}
.app{
  font-family: Arial, sans-serif;
  padding-inline: 50px;

}
.nav {
  display:flex;
  justify-content:center;
  align-items:center;
  background-color:#F55A5A;
  color:#FFFFFF;
}
.nav--icon{
  color:#FFFFFF;
  font-size: 30px;
}
.icon{
  color:#F55A5A;
}
.card--location{
  display:flex;
  gap: 10px;
}
.card--dates{
  font-weight:bold;
}
x.card--description{
  overflow-wrap: break-word;
}

.image{
  width: 200px;
  height: auto;
  margin-right: 20px; 
}

.card--title{
  font-size: 1.5rem;
  font-weight: bold;
}