* {
  box-sizing: border-box;
}
.app{
  font-family: Arial, sans-serif;
}
.nav {
  display:flex;
  justify-content:center;
  align-items:center;
  background-color:#F55A5A;
  color:#FFFFFF;
}
.nav--icon{
  color:#FFFFFF;
  font-size: 30px;
}
.icon{
  color:#F55A5A;
}
.card--location{
  display:flex;
  justify-content:space-between;
}

.image{
  border-radius:10px;
  max-width: 200px;
  width: auto;
  height: auto;
}